.confirm-delete-modal {
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
	padding: 20px;
	background-color: white;
	border-radius: 10px;
}

.confirm-delete-buttons {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 20px;
}

.delete-button {
	background-color: rgb(204, 52, 52);
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.cancel-button {
	background-color: darkgrey;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}