@import url("../../index.css");

.signup-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.title {
  padding-bottom: 20px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  max-width: 500px;
}

.signup-form label {
  font-size: 1.2rem;
}

.signup-form input {
  padding: 0.75rem;
  font-size: 1.1rem;
  border-radius: 8px;
  border: solid 1px #ccc;
}

.signup-btn {
  padding: 0.75rem 1.5rem;
  border: solid 1px white;
  border-radius: 14px;
  background-color: rgb(104, 101, 101);
  color: var(--white-clr);
  font-family: var(--ff-headers);
  cursor: pointer;
  transition: all 0.2s;
}

.signup-btn:disabled {
  background-color: #a8a6a6;
  color: #050505;
  border: solid 2px #cccccc;
  cursor: not-allowed;
  box-shadow: none;
}
