body {
    background-color: black;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: purple;
  }
  
  .create-spot-wrapper {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .create-spot-heading {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .create-spot-heading h2,
  .create-spot-heading h3,
  .form-headers h3 {
    font-size: 24px;
    color: #800080;
  }
  
  .create-spot-heading h3 {
    font-size: 20px;
  }
  
  .create-spot-heading p {
    font-size: 14px;
    color: #777;
  }
  
  .form-info-container {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"],
  input[type="url"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px; 
  }
  
  input[type="text"]:focus,
  input[type="url"]:focus,
  input[type="number"]:focus,
  textarea:focus {
    border-color: #666;
    outline: none;
  }
  
  .error {
    color: #dc3545;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .line-break {
    border-top: 1px solid aqua;
    margin: 20px 0;
  }
  
  .form-headers {
    margin-bottom: 10px;
  }
  
  .form-headers p {
    font-size: 14px;
    color: #777;
  }
  
  .input-title {
    font-size: 16px;
  }
  
  .input-price {
    width: 80px;
  }
  
  .image-inputs-container input {
    margin-bottom: 10px;
  }
  
  .create-spot-button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .create-spot-button:hover {
    background-color: #555;
  }
  
  .create-spot-button:focus {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }